<eu-button [type]="'text'" [size]="'mini'" [position]="'center'" [icon]="'fa fa-check-circle'">
  Text
</eu-button>
<br><br>
<eu-button [type]="'primary'" [size]="'mini'" [position]="'center'">
Primary
</eu-button>
<br><br>
<eu-button [type]="'success'" [size]="'small'" [position]="'center'" [icon]="'fa fa-check-circle'">
Success
</eu-button>
<br><br>
<eu-button [type]="'error'" [size]="'medium'" [position]="'center'" [icon]="'fa fa-warning'">
Error
</eu-button>
<br><br>
<eu-button [type]="'disabled'" [size]="'large'" [position]="'center'" [icon]="'fa fa-warning'">
Disabled
</eu-button>
<br><br>
<eu-button [type]="'outline'" [size]="'xlarge'" [position]="'center'" [icon]="'fa fa-check-circle'">
Outline
</eu-button>
<br><br>
<br><br>

<eu-input></eu-input>
<br><br>
<eu-input [icon]="'fa fa-user'"></eu-input>